body{
    background-color: forestgreen;
}
h1{
    color:lawngreen;
}
h2{
    color: dodgerblue;
}
label{
    color:dodgerblue;
}
div{
    background-color: springgreen;
    border-radius: 20px;
}